/* imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&family=Smythe&display=swap');

/* layout */
html,
body {
  margin: 0;
  padding: 0;
}

.root-container {
  height: 100vh;
  max-width: 500px;
  margin: auto;
}

header {
  background-image: url("./img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-txt {
  margin-left: 2.5em;
}

main {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
  margin: 0 2.5em;
  padding: 2.5em 0;
}

.item img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 1.5em;
  background-color: transparent;
}

.item-add-btn {
  width: calc((50 / 16) * 1em);
  height: calc((50 / 16) * 1em);
  border: 1px solid #8B8B8B;
  border-radius: 50%;
  background: none;
  margin-left: auto;
}

.item-add-btn:hover,
.item-add-btn:focus {
  cursor: pointer;
}

.item-seperator {
  border-bottom: 1px solid #8B8B8B;
  max-width: 600px;
}

.order-summary-container {
  margin: 2em 2.5em 0;
}

.order-summary-heading {
  text-align: center;
}

.order-summary {
  list-style: none;
  padding: 0;
}

.order-item {
  display: flex;
  align-items: baseline;
}

.order-item h3 {
  margin-right: 0.5rem;
}

.order-total {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-top: 1px solid #8B8B8B;
  padding: 1em 0;
}

.item-remove-btn {
  background: none;
  border: none;
}

.item-remove-btn:hover,
.item-remove-btn:focus {
  cursor: pointer;
}

.order-summary p {
  margin-left: auto;
}

.order-complete-btn {
  width: 100%;
  padding: 0.7em;
  border: none;
  background-color: #16DB99;
  margin-bottom: 1em;
}

.order-complete-btn:hover,
.order-complete-btn:focus {
  cursor: pointer;
}


.payment-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 420px;
  height: 50%;
  background-color: white;
  border-radius: 0.5em;
}

.payment-modal-exit-btn {
  background: none;
  display: block;
  margin-left: auto;
  border: none;
}

.payment-modal-exit-btn:hover,
.payment-modal-exit-btn:focus {
  cursor: pointer;
}

.payment-modal h3 {
  margin-left: 3em;
}

.payment-modal form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 88%;
}

.payment-modal input,
.pay-btn {
  display: block;
  width: 80%;
  height: 3.5em;
}

.payment-modal input {
  padding-left: 1em;
  border-radius: 0.25em;
  border: 1px solid #8B8B8B;
}

.pay-btn {
  background-color: #16DB99;
  border: none;
  border-radius: 0.25em;
  width: 84%;
}

.pay-btn:hover,
.pay-btn:focus {
  cursor: pointer;
}

.payment-confirmation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84%;
  height: 4em;
  margin: 2.5em auto;
  background-color: #ECFDF5;
}

/* utility classes */
.hidden {
  display: none;
}

.inactive {
  background-image: linear-gradient(grey, whitesmoke, whitesmoke);
}

/* typography */
h1,
h2,
h3,
p {
  font-family: "Smythe", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

h1 {
  font-size: calc((39 / 16) * 1rem);
  color: whitesmoke;
}

h2 {
  font-size: calc((22.5 / 16) * 1rem);
  color: whitesmoke;
}

h3 {
  font-size: calc((28 / 16) * 1rem);
}

.item-ingredients {
  font-size: 1rem;
  color: #8B8B8B;
  margin-bottom: 0.25em;
}

.item-price {
  font-size: calc((20 / 16) * 1rem);
  font-weight: bold;
}

.item-add-btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
}

.order-complete-btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: whitesmoke;
}

.item-remove-btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: calc((12 / 16) * 1rem);
  color: #8B8B8B;
}

.payment-modal-exit-btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: calc((14 / 16) * 1rem);
}

.payment-modal h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: calc((24 / 16) * 1rem);
  font-weight: bold;
}

.pay-btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: calc((12 / 16) * 1rem);
  color: whitesmoke;
}

.payment-confirmation-container h3 {
  font-size: calc((24 / 16) * 1rem);
  color: #065F46;
}
