*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* layout */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  position: fixed;
  width: 100vw;
  background-color: #FFF;
}

main {
  margin-top: 2em;
  flex-grow: 1;
}

footer {
  background-color: #202020;
  padding: 2.5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2em;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

nav {
  min-width: 25%;
  display: flex;
  justify-content: end;
  gap: 2em;
  margin-right: 1em;
}

.hero-article-section {
  min-height: 300px;
  background-color: #444444;
  background-image: url("../data/img/post-1.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 1.5em;
  background-color: rgba(0, 0, 0, 1);
}

.hero-article-text-container {
  max-width: 980px;
  width: 100%;
  margin: 6em auto 0 auto;
}


.recent-article-section {
  margin: 1.5em 1em;
}

.article-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  gap: 0.3em;
}

.view-more-btn {
  display: block;
  margin: auto;
  background: none;
  border: none;
  margin-bottom: 3em;
}

.view-more-btn:hover,
.view-more-btn:focus {
  cursor: pointer;
}

/* typography */
html,
body {
  font-family: "Source Sans 3", sans-serif;
  color: #000;
}

nav a,
footer h2,
footer p,
.logo-title,
.hero-article-date,
.article-card-date {
  font-size: 0.8rem;
}

nav a,
.logo-title {
  font-weight: bold;
}

.logo-title {
  font-family: "Roboto", sans-serif;
}

nav a {
  text-decoration: none;
  color: #000;
}

footer,
.hero-article-section {
  color: #FFF;
}

.hero-article-title {
  font-size: 2rem;
}

.hero-article-desc {
  font-weight: bold;
  max-width: 500px;
}

.article-card-title {
  font-size: 1.5rem;
}

.hero-article-desc,
.article-card-desc,
.view-more-btn {
  font-size: 1rem;
}

.view-more-btn {
  font-family: inherit;
  font-weight: bold;
  text-decoration-line: underline;
}

@media (min-width: 800px) {

  /* wide screen layout */
  .hero-article-section {
    min-height: 450px;
    padding: 4em;
  }

  .recent-article-section {
    max-width: 980px;
    margin: 2.5em auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1em;
  }

  .article-card {
    max-width: 300px;
    grid-column: span 4;
    padding: 1em;
  }

  /* wide screen typography */
  .hero-article-title {
    font-size: 2.5rem;
  }

  .hero-article-date,
  .hero-article-desc {
    font-size: 1rem;
  }

  .hero-article-desc {
    max-width: 600px;
  }

}
