*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: whitesmoke;
  height: 100vh;
}

header {
  min-height: 210px;
  background-color: black;
  background-image: url('./img/header-banner.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header a {
  text-decoration: none;
  color: ghostwhite;
  font-weight: bold;
}

.header-content {
  color: whitesmoke;
  padding: 2em;
  width: 100%;
  max-width: 880px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  position: absolute;
  top: 200px;
  height: 2em;
  display: flex;
  align-items: baseline;
}

.search-bar {
  min-width: 400px;
  align-self: stretch;
  padding: 0.8em;
  border: 1.5px solid gainsboro;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.search-btn {
  border: 1.5px solid gainsboro;
  padding: 0.5em 1.5em;
  align-self: stretch;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.search-bar:focus,
.search-bar:active {
  outline-style: none;
}

.search-btn:hover,
.search-btn:focus,
.search-btn:active {
  cursor: pointer;
}

#book-card-container {
  width: 25vw;
  margin: 5em auto;
  padding-bottom: 0.6em;
}

.book-card {
  display: flex;
  margin-bottom: 2em;
}

.book-card .book-cover {
  width: 100px;
}

.book-card .book-info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-left: 2em;
}

.book-card .add-btn,
.book-card .remove-btn {
  font: inherit;
  font-size: 0.8rem;
  width: 60px;
  height: 20px;
  border: none;
  border-radius: 10px;
}

.book-card .add-btn {
  background-color: yellowgreen;
}

.book-card .remove-btn {
  background-color: indianred;
}

.add-btn:hover,
.add-btn:focus,
.remove-btn:hover,
.remove-btn:focus {
  cursor: pointer;
}

.stamp {
  color: grey;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 0.6em;
  margin-top: 25vh;
}

.stamp img {
  width: 100px;
}

.stamp h2 {
  width: 25%;
}

.disabled {
  display: none;
}
