*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* layout */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  position: fixed;
  width: 100vw;
  background-color: #FFF;
}

main {
  margin-top: 4em;
  flex-grow: 1;
}

footer {
  background-color: #202020;
  padding: 2.5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2em;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

nav {
  min-width: 25%;
  display: flex;
  justify-content: end;
  gap: 2em;
  margin-right: 1em;
}

.hero-section,
.article-content-section,
.recent-article-section {
  margin: 1.5em 1em;
}

.hero-section-img {
  margin-bottom: 1em;
}

.hero-section-title {
  margin-bottom: 0.5em;
}

.hero-section-desc {
  margin-bottom: 3em;
}

.article-content-section {
  display: flex;
  flex-direction: column;
  gap: 1em;

}

.recent-article-heading {
  margin: 1.5em auto;
  text-align: center;
}

.article-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  gap: 0.3em;
}


/* typography */
html,
body {
  font-family: "Source Sans 3", sans-serif;
  color: #000;
}

nav a,
footer h2,
footer p,
.logo-title,
.article-card-date {
  font-size: 0.8rem;
}

nav a,
.logo-title {
  font-weight: bold;
}

.logo-title {
  font-family: "Roboto", sans-serif;
}

nav a {
  text-decoration: none;
  color: #000;
}


footer {
  color: #FFF;
}

.hero-section-title {
  font-size: 2rem;
  line-height: 1;
}

.article-card-title {
  font-size: 1.5rem;
}

.recent-article-heading,
.article-card-desc {
  font-size: 1rem;
}


@media (min-width: 650px) {

  /* wide screen layout */

  .recent-article-section {
    max-width: 980px;
    margin: 2.5em auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1em;
  }

  .hero-section {
    display: flex;
    margin-left: 3em;
    justify-content: center;
  }

  .hero-section-desc {
    max-width: 500px;
  }

  .intro-section {
    padding: 1em 1em 1em 2em;
    max-width: 800px;
  }

  .article-content-section {
    padding: 1em;
    max-width: 800px;
    margin: auto;
  }

  .article-card {
    max-width: 300px;
    grid-column: span 4;
    padding: 1em;
  }

  /* wide screen typography */

}
