@font-face {
    src: url("./fonts/Inter-VariableFont_opsz,wght.ttf");
    font-family: "inter";
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "inter";
}

#card {
    width: 550px;
    height: 729px;
}

#hero-section {
    width: 550px;
    height: 285px;
    background: #6943FF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#hero-section > h1 {
    color: #FFFFFF;
    font-weight: 600;
}

#hero-section > input {
    width: 120px;
    height: 80px;
    color: #FFFFFF;
    background: none;
    text-align: center;
    padding: 8;
    margin: 0;
    font-size: 50px;
    font-weight: 800;
    border: 2px solid #B295FF;
    border-radius: 6px;
}

#hero-section > button {
    width: 125px;
    border: none;
    background: #FFFFFF;
    padding: 9px 28px;
    border-radius: 4px;
    font-family: inherit;
}

#output-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 550px;
    height: 444px;
    background: #F4F4F4;
}

.output-card {
    width: 500px;
    height: 108px;
    background: #FFFFFF;

}

.output-card > h2 {
    text-align: center;
    padding-top: 10px;
    color: #5A537B;
}

.output-card > p {
    text-align: center;
    color: #353535;
}
